.formContainer {
  background: linear-gradient(270deg, #060908 60%, rgba(0, 0, 0, 0.4) 100%),
    url("/assets/wallpaperHome.svg") no-repeat center;
  background-size: cover;

  .content {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    aside {
      width: 50%;

      strong {
        color: green;
        font-size: 2rem;
        display: block;
        margin-bottom: 1rem;
      }

      p {
        line-height: 1.5rem;
        max-width: 300px;
      }
    }

    main {
      flex: 1;

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        label {
          margin: 1.5rem 0 0.5rem;
          font-size: 1.25rem;
        }

        input,
        select,
        button {
          background: transparent;
          height: 3.5rem;
          border: 1px solid #333;
          font-size: 1.25rem;
          color: #fff;
          padding: 0.25rem 1rem;
          -webkit-appearance: none;
          border-radius: 0.15rem;

          &::placeholder {
            color: #333;
          }
        }

        button {
          margin-top: 2rem;
          background-color: #041511;
          border: 0;
          transition: background 0.25s;
          cursor: pointer;

          &:hover {
            background-color: #051611;
          }
        }

        select {
          color: #333;
        }
      }
    }

    @media (max-width: 728px) {
      flex-direction: column;
      padding: 3rem 0;

      aside,
      main {
        width: 90%;
      }

      main {
        margin-top: 3rem
      }
    }
  }
}
