* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  @media (max-width: 1024px) {
    font-size: 93.5%;
  }

  @media (max-width: 728px) {
    font-size: 90.5%;
  }
}

body {
  background-color: #060908;
  color: #fff;
}

.swiper {
  position: relative;

  .swiper-button-next, 
  .swiper-button-prev {
    color: #FFF;
    transform: scale(1);
  }

  .swiper-button-next {
    position: absolute;
    right: 0;
  }
  
  .swiper-button-prev {
    position: absolute;
    left: 0;
  }
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
